body {
    background: rgb(255, 255, 255);
    color: #000000;
    font-family: courier new;
    text-align: center;
}
  
h1 {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
}

#board {
    margin-left: auto;
    margin-right: auto;
}
  
#board tr td{
    border:1px solid rgb(0, 0, 0);
    background: #363636;
    width: 16px;
    height: 16px;
    text-align: center;
}
  
#board tr td.clicked {
    background: #7a7a7a;
}
  
#board tr td.mine {
    background: #ff0000;
}
  
button {
    margin: 12px;
}
  
